<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HelixToolkit" version="2015.1.715" targetFramework="net462" />
  <package id="HelixToolkit.Wpf" version="2015.1.715" targetFramework="net462" />
  <package id="MahApps.Metro" version="1.2.4.0" targetFramework="net461" />
  <package id="Microsoft.WindowsAPICodePack-Core" version="1.1.0.2" targetFramework="net462" />
  <package id="Microsoft.WindowsAPICodePack-Shell" version="1.1.0.0" targetFramework="net462" />
  <package id="morelinq" version="1.4.0" targetFramework="net461" />
  <package id="Persist" version="1.0.0.26437" targetFramework="net462" />
  <package id="Poly2Tri.dll" version="1.0.4" targetFramework="net462" />
  <package id="PropertyTools.Wpf" version="2015.2.0" targetFramework="net461" />
  <package id="UrhoSharp" version="1.0.557" targetFramework="net462" />
  <package id="YamlDotNet" version="3.9.0" targetFramework="net462" />
</packages>