<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HelixToolkit" version="2015.1.629" targetFramework="net46" />
  <package id="HelixToolkit.Wpf" version="2015.1.629" targetFramework="net46" />
  <package id="morelinq" version="1.4.0" targetFramework="net46" />
  <package id="Strilanc.Value.May" version="1.0.2" targetFramework="net46" />
  <package id="Xceed.Products.Wpf.Toolkit.AvalonDock" version="2.8.15465.16500" targetFramework="net46" />
  <package id="Xceed.Wpf.AvalonDock" version="2.8.15465.16500" targetFramework="net46" />
</packages>